<div class="topbar-wrapper">
    <ng-template #raceDisplay let-e>
      <div class="field field-race" [class.revert-bg]="e.revert"
           [ngClass]="settings.showRacesOnlyTextual ? 'field-race-textonly' : 'field-race-'+raceSpriteIndex(e.player)"
           [style.borderTopColor]="getColorCode(e.player)">
        <div class="player-color" [style.backgroundColor]="getColorCode(e.player)">
          <div class="player-color-gradient">
            {{settings.showRacesOnlyTextual ? raceShortName(e.player) : ''}}
          </div>
        </div>
      </div>
    </ng-template>
    <div class="topbar1">
      <ng-container *ngFor="let e of [{player: player1, resources: player1Resources, revert: false}, {player: player2, resources: player2Resources, revert: true}]; let i = index; trackBy: trackPlayerResource">
            <!-- for player2, show race first -->
            <ng-container *ngIf="e.revert" [ngTemplateOutlet]="raceDisplay" [ngTemplateOutletContext]="{ $implicit: e }"></ng-container>
            <ng-container *ngIf="e.resources as resources">
              <div class="field field-gold" [style.borderTopColor]="getColorCode(e.player)"><span>{{ resources.gold | number:'1.0-0' }}</span></div>
              <div class="field field-lumber" [style.borderTopColor]="getColorCode(e.player)"><span>{{ resources.lumber | number:'1.0-0' }}</span></div>
              <div class="field field-food"
                   [class.no-upkeep-color]="upkeepState(resources.supply) === 'none'"
                   [class.low-upkeep-color]="upkeepState(resources.supply) === 'low'"
                   [class.high-upkeep-color]="upkeepState(resources.supply) === 'high'"
                   [style.borderTopColor]="getColorCode(e.player)">
                <span>{{ resources.supply | number:'1.0-0' }}</span>
                /
                {{ resources.supplyCap | number:'1.0-0' }}
              </div>
              <div class="field field-worker-food" [style.borderTopColor]="getColorCode(e.player)"><span>{{ resources.workerSupply || 0 | number:'1.0-0' }}</span></div>
            </ng-container>
            <!-- for player1, show race after resources -->
            <ng-container *ngIf="!e.revert" [ngTemplateOutlet]="raceDisplay" [ngTemplateOutletContext]="{ $implicit: e }"></ng-container>
            <ng-container *ngIf="i === 0">
              <div class="field field-time">
                <span>{{formattedGameTime}}</span>
                <div class="daynightcycle-wrapper">
                  <div>
                    <div class="daynightcycle daynightcycle-bg daynightcycle-{{dayNight().previousPhase}}"></div>
                    <div class="daynightcycle daynightcycle-front daynightcycle-{{dayNight().phase}}"></div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
    </div>

    <div class="topbar2">
        <div>
            <div class="player-name player-name-left">
                <div class="player-country"
                    *ngIf="player1.displayCountry && player1.displayCountry != 'tw'"
                    [style.backgroundImage]="countryFlagBackground(player1.displayCountry)">
                </div>
                {{playerName(player1)}}
            </div>
        </div>
        <div> </div>
        <div
            [class]="(Boolean(settings.matchscoreEnabled) && !match.isReplay || Boolean(settings.matchscoreEnabledInReplay) && match.isReplay) ? 'show-matchscore' : 'hide-matchscore'">
            <div class="score-count left-score-count">
                {{runtime.matchScore?.wins}}
            </div>
            <div class="content">
                <div [class]="Boolean(settings.headlineTopIsMainHeadline) ? 'headline' : 'subline'">
                    {{settings.headlineTop}}
                </div>
                <div [class]="!Boolean(settings.headlineTopIsMainHeadline) ? 'headline' : 'subline'">
                    {{settings.headlineBot}}
                </div>
            </div>
            <div class="score-count right-score-count">
                {{runtime.matchScore?.losses}}
            </div>
        </div>
        <div> </div>
        <div>
            <div class="player-name player-name-right">
                <div class="player-country"
                    *ngIf="player2.displayCountry && player2.displayCountry != 'tw'"
                    [style.backgroundImage]="countryFlagBackground(player2.displayCountry)">
                </div>
                {{playerName(player2)}}
            </div>
        </div>

    </div>

</div>
