@if (matchActive) {
    <div [class]='isReforged ? "w3-reforged" : "w3-classic"'>
        <div class='App'>
            <div class="{{additionalCSSClasses}}">
                <div>
                    <div class="wc3-ui-area" [style.zoom]="gameContext.hudScale || 1">
                        <div class="wc3-ui-area-container">
                            <mv-map-bar [score]="score" [match]="state.match" [settings]="settings" [gameContext]="gameContext"></mv-map-bar>

                            <ng-container *ngIf="streamer?.controlgroups as controlgroups">
                                <div *ngIf="settings.controlgroupsEnabled !== false && !isObserverOrReplay() && gameContext.chatbarOpen !== true"
                                    class="ctrlgroup-wrapper">
                                    <ng-container *ngFor="let index of [0,1,2,3,4,5,6,7,8,9]; trackBy: trackPosition">
                                        <div [style.visibility]="(controlgroups[index] ? 'visible' : 'hidden')"
                                            class="ctrlgroup">
                                            <ng-container *ngIf="controlgroups[index] as controlgroup">
                                                <div class="ctrlgroup-index">
                                                    {{(index + 1) % 10}}
                                                </div>
                                                <div class="ctrlgroup-icon"
                                                    [style.backgroundImage]="getIconBackground(controlgroup.frontunit)">
                                                </div>
                                                <div class="ctrlgroup-text">
                                                    {{ controlgroup.size }}
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="wc3-ui-area">
                        <div class="wc3-ui-area-container">

                            <mv-match-bar [match]="state.match" [players]="players" [gameTime]="state.match.gameTime"
                                [settings]="settings" [gameContext]="gameContext"
                                *ngIf="settings.topBarEnabled && !showObserverBar() && !showObserverTeamBar()">
                            </mv-match-bar>

                            <mv-observer-bar [score]="score" [match]="state.match" [players]="observerPlayers!"
                                [gameTime]="state.match.gameTime" [settings]="settings" [gameContext]="gameContext"
                                *ngIf="settings.topBarEnabled && showObserverBar()">
                            </mv-observer-bar>

                            <mv-team-observer-bar [match]="state.match" [players]="players"
                                [settings]="settings" [gameContext]="gameContext"
                                *ngIf="settings.topBarEnabled && showObserverTeamBar()">
                            </mv-team-observer-bar>

                        </div>
                    </div>

                    <ng-container *ngIf="streamer as selectedStreamer">
                        <mv-upgrade-panel
                            *ngIf="!showObserverTeamBar() && settings.researchesEnabled && settings.researchesOfAttackAndArmorEnabled"
                            [match]="state.match" [streamer]="selectedStreamer" [opponent]="opponent" [settings]="settings">
                        </mv-upgrade-panel>
                    </ng-container>

                    <div *ngIf="isObserverOrReplay() && !showObserverTeamBar()">
                        <div *ngIf="streamer?.heroes?.length">
                            <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                class="hero-area hero-area-streamer" id="ID_AVATAR_{{hero.id}}">
                                <div [class]="'hero-avatar' + (isHeroDefeated(hero) ? ' grayscaled-filter' : ' ')"
                                    [style.backgroundImage]="getHeroIconBackground(hero)">
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let item of  [].constructor(requiredAvatarCoverCount); let i = index; trackBy: trackPosition"
                            class="hero-area hero-area-streamer hero-area-cover" id="ID_AVATAR_COVER_{{i}}">
                            <div class="hero-avatar hero-avatar-cover">
                            </div>
                        </div>

                        <div *ngIf="opponent?.heroes?.length">
                            <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                class="hero-area hero-area-opponent" id="ID_AVATAR_{{hero.id}}">
                                <div [class]="'hero-avatar' + (isHeroDefeated(hero) ? ' grayscaled-filter' : ' ')"
                                    [style.backgroundImage]="getHeroIconBackground(hero)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showObserverTeamBar() && state.match.isReplay && !state.match.isObserver">
                        <div *ngFor="let item of [].constructor(getRequiredAvatarCoverCountForObserverTeamBar()); let i = index; trackBy: trackPosition"
                            class="hero-area hero-area-streamer hero-area-cover" id="ID_AVATAR_COVER_TEAM_{{i}}"
                            [style.top]="getAvatarCoverTop(i)">
                            <div class="hero-avatar hero-avatar-cover">
                            </div>
                        </div>
                    </div>

                    <div
                        *ngIf="!showObserverTeamBar() && (settings.heroAbilitiesEnabled || settings.heroExpProgressEnabled !== false)">

                        <div *ngIf="settings.heroExpProgressEnabled !== false">
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer hero-exp-area" id="ID_HEROEXP_{{hero.id}}">
                                        <div class="hero-exp-bar-wrapper">
                                            <div class="hero-exp-bar-background">
                                                <div class="hero-exp-bar"
                                                    [style.height]="(getHeroExperienceProgress(hero)*100) + '%'">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent hero-exp-area"
                                    id="ID_OPPONENT_HEROEXP_{{hero.id}}">
                                        <div class="hero-exp-bar-wrapper">
                                            <div class="hero-exp-bar-background">
                                                <div class="hero-exp-bar"
                                                    [style.height]="(getHeroExperienceProgress(hero)*100) + '%'">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer hero-hp-area" id="ID_HEROHP_{{hero.id}}">
                                    <ng-template
                                        *ngIf="heroHealthRatio(hero) > 0"
                                        let-heroHPPercentage="heroHPPercentage"
                                        [ngTemplateOutletContext]="{ heroHPPercentage: heroHealthRatio(hero)}"
                                        [ngTemplateOutlet]="selfie" #selfie>
                                        <div class="hero-hp-bar-wrapper">
                                            <div class="hero-hp-bar-background">
                                                <div class="hero-hp-bar" [style.width]="(heroHPPercentage * 100) + '%'"
                                                    [style.background]="'rgb(' + ((heroHPPercentage <= 0.6 ? 1 : (1 - ((heroHPPercentage - 0.6) / 0.4)))  *255)  + ' , ' + ((heroHPPercentage > 0.6 ? 1 : (heroHPPercentage / 0.6))  *255) + ',0)'">
                                                    <div class="hero-bar-gradient"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent hero-hp-area" id="ID_HEROHP_{{hero.id}}">
                                    <ng-template
                                        *ngIf="heroHealthRatio(hero) > 0"
                                        let-heroHPPercentage="heroHPPercentage"
                                        [ngTemplateOutletContext]="{ heroHPPercentage: heroHealthRatio(hero)}"
                                        [ngTemplateOutlet]="selfie" #selfie>
                                        <div class="hero-hp-bar-wrapper">
                                            <div class="hero-hp-bar-background">
                                                <div class="hero-hp-bar" [style.width]="(heroHPPercentage * 100) + '%'"
                                                    [style.background]="'rgb(' + ((heroHPPercentage <= 0.6 ? 1 : (1 - ((heroHPPercentage - 0.6) / 0.4)))  *255)  + ' , ' + ((heroHPPercentage > 0.6 ? 1 : (heroHPPercentage / 0.6))  *255) + ',0)'">
                                                    <div class="hero-bar-gradient"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer hero-mana-area" id="ID_HEROMANA_{{hero.id}}">
                                        <div class="hero-mana-bar-wrapper"
                                            *ngIf="hero.mana && hero.hitpoints && hero.hitpoints.current > 0">
                                            <div class="hero-mana-bar-background">
                                                <div class="hero-mana-bar"
                                                    [style.width]="(heroManaRatio(hero) * 100) + '%'">
                                                    <div class="hero-bar-gradient"></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent hero-mana-area" id="ID_OPPONENT_HEROMANA_{{hero.id}}">
                                        <div class="hero-mana-bar-wrapper"
                                            *ngIf="hero.mana && hero.hitpoints && hero.hitpoints.current > 0">
                                            <div class="hero-mana-bar-background">
                                                <div class="hero-mana-bar"
                                                    [style.width]="(heroManaRatio(hero) * 100) + '%'">
                                                    <div class="hero-bar-gradient"></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="settings.heroLevelEnabled !== false">
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer" id="ID_HEROLVL_{{hero.id}}">
                                        <div class="hero-level">{{getHeroLevel(hero)}}</div>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent" id="ID_OPPONENT_HEROLVL_{{hero.id}}">
                                        <div class="hero-level">{{getHeroLevel(hero)}}</div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="settings.heroAbilitiesEnabled">
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer" id="ID_HEROABILITY_{{hero.id}}">

                                        <div *ngFor="let ability of hero.abilities || []; trackBy: trackAbility" id="ID_ABILITY_{{ability.name}}"
                                            [class]="'ability-icon-wrapper ' + (settings.heroItemsEnabled !== false ? 'inventory-spacer' : '') ">

                                            <div class="ability-icon {{ability.level == 0 ? 'ulti' : '' }}"
                                                [style.backgroundImage]="getAbilityIconBackground(ability)">
                                                <div *ngIf="getCooldown(ability) as cooldown"
                                                    class="cooldown-wrapper">
                                                    <div *ngIf="cooldown.remaining > 0" class="cooldown">
                                                        {{cooldownSeconds(cooldown.remaining)}}
                                                    </div>
                                                    <div *ngIf="cooldown.remaining > 0" class="cooldown-animation"
                                                        [style.height]="(cooldown.remaining / cooldown.total) * 100 + '%'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="level-indicator current-level-{{ability.level}}">
                                                <div class=" level-3"></div>
                                                <div class="level-2"></div>
                                                <div class="level-1"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent" id="ID_OPPONENT_HEROABILITY_{{hero.id}}">
                                        <div *ngFor="let ability of hero.abilities || []; trackBy: trackAbility"
                                            id="ID_OPPONENT_ABILITY_{{ability.name}}"
                                            [class]="'ability-icon-wrapper ' + (settings.heroItemsEnabled !== false ? 'inventory-spacer' : '') ">
                                            <div class="ability-icon"
                                                [style.backgroundImage]="getAbilityIconBackground(ability)">
                                                <div *ngIf="getCooldown(ability) as cooldown"
                                                    class="cooldown-wrapper">
                                                    <div *ngIf="cooldown.remaining > 0" class="cooldown">
                                                        {{cooldownSeconds(cooldown.remaining)}}
                                                    </div>
                                                    <div *ngIf="cooldown.remaining > 0" class="cooldown-animation"
                                                        [style.height]="(cooldown.remaining / cooldown.total) * 100 + '%'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="level-indicator current-level-{{ability.level}}">
                                                <div class="level-3"></div>
                                                <div class="level-2"></div>
                                                <div class="level-1"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="settings.heroItemsEnabled !== false">
                            <div *ngIf="streamer?.heroes?.length">
                                <div *ngFor="let hero of streamer.heroes || []; trackBy: trackHero"
                                    class="hero-area hero-area-streamer inventory" id="ID_HEROINVENTORY_{{hero.id}}">
                                        <div *ngFor="let item of heroItems(hero); trackBy: trackInventorySlot" id="ID_ITEM_{{item}}"
                                            class="item-icon-wrapper">
                                            <div class="item-icon" *ngIf="item !== ''"
                                                [style.backgroundImage]="getItemIconBackground(item)">
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div *ngIf="opponent?.heroes?.length">
                                <div *ngFor="let hero of opponent!.heroes; trackBy: trackHero"
                                    class="hero-area hero-area-opponent inventory"
                                    id="ID_OPPONENT_HEROINVENTORY_{{hero.id}}">
                                        <div *ngFor="let item of heroItems(hero); trackBy: trackInventorySlot" id="ID_ITEM_{{item}}"
                                            class="item-icon-wrapper">
                                            <div class="item-icon" *ngIf="item !== ''"
                                                [style.backgroundImage]="getItemIconBackground(item)">
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
